# Official public website backend (website-api). Not master HTTP.
VITE_API_BASE=http://<website-api-host>:8090
# Master-ui / requestor clients use master HTTP separately:
# VITE_MASTER_API_BASE=http://<master-ip>:8082
VITE_WORKER_CONTROL_BASE=http://<worker-ip>:18080
