.git
test_logs
subagents
*
!proto/
!proto/**
!hivemind-rs/
!hivemind-rs/**
hivemind-rs/target
hivemind-rs/target/**
hivemind-rs/target-alt
hivemind-rs/target-alt/**
hivemind-rs/target-local
hivemind-rs/target-local/**
!frontend/
!frontend/**
frontend/master-ui/node_modules
frontend/master-ui/node_modules/**
frontend/worker-ui/node_modules
frontend/worker-ui/node_modules/**
frontend/node_modules
frontend/node_modules/**
frontend/.next
frontend/.next/**
!executor-rs/
executor-rs/*
!executor-rs/Cargo.toml
!executor-rs/Cargo.lock
executor-rs/crates/*
!executor-rs/crates/managed-function-runtime/
!executor-rs/crates/managed-function-runtime/**
!executor-rs/crates/general-compute-runtime/
!executor-rs/crates/general-compute-runtime/**
!packaging/
!packaging/**
!.dockerignore
